/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --background: rgb(34, 49, 37);
  --text-color: #000000;
  --border: 0.8px solid #000000;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Righteous", cursive;
}

body {
  margin: 0px;
  color: var(--text-color);
}

/*==================== TEXT ====================*/

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 0.8rem;
  text-transform: uppercase;
}

/*==================== Buttons ====================*/

button {
  background: transparent;
  /* border: none; */
  font-size: 1.2rem;
  text-align: left;
  text-transform: uppercase;
  padding: 5px;
}

/*==================== GRID ====================*/

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50px [col-start] 10fr [col-start] 50px [col-start];
  grid-template-rows: 60px 100px 75px 4fr 4fr 60px;
}

.cell {
  display: flex;
}

/* cell Boarder Line */
.cell:not(:nth-child(3n)) {
  border-right: var(--border);
}
.cell:not(:nth-last-child(-n + 3)) {
  border-bottom: var(--border);
}

/*==================== Title ====================*/

.cell-title {
  display: inherit;
  align-items: center;
  justify-content: center;
}

/*==================== Intro ====================*/

.cell-intro {
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 25px;
}

.chain {
  font-size: 2rem;
}

.cell-text {
  padding-top: 10px;
  text-align: justify;
}

/*==================== Links / Buttons ====================*/

.cell-links {
  justify-content: center;
  flex-flow: column wrap;
  padding: 25px;
}

.links-and-code {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.button-links {
}

.codes {
  position: relative;
  left: 20px;
  transform: rotate(-90deg);
  font-size: 0.5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* Root Fonts */
@media screen and (min-width: 968px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
/* For medium devices */
@media screen and (min-width: 568px) {
}
/* For medium devices */
@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
