/*==================== GOOGLE FONTS ====================*/

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --body-color: #005716;
  --text-color: #fff;

  /*========== Font and typography ==========*/
  --huge-font-size: 5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: var(--body-color);
  color: var(--text-color);
}

/*==================== TABLE ====================*/
table {
  position: absolute;
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

table td {
  border: 1px solid black;
}

.side_columns {
  width: 20px;
}

.empty_row {
  height: 50px;
}

/*==================== MEDIA QUERIES ====================*/
/* Root Fonts */
@media screen and (min-width: 968px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
/* For medium devices */
@media screen and (min-width: 568px) {
}
/* For medium devices */
@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
